<app-header [header]="task.taskName"></app-header>
<div class="container">
  <div class="main-content-container">
    <ng-container *ngTemplateOutlet="buttonsToolbarTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="mainContentTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="logTimeTemplate"></ng-container>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Комментарии">
        <ng-container *ngTemplateOutlet="commentsTemplate"></ng-container>
      </mat-tab>
      <mat-tab label="История">
        <ng-container *ngTemplateOutlet="historyTemplate"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="task-data-container">
    <ng-container *ngTemplateOutlet="taskDataTemplate"></ng-container>
  </div>
</div>

<ng-template #logTimeTemplate>
  <div class="log-time-container">
    <div>
      <span class="mat-h2">Отслеживание времени  </span>
      <button mat-icon-button
              (click)="loadLogTimesByTask(taskId)"
              matTooltip="Обновить затраченное время"
              [matTooltipPosition]="'right'"
              matTooltipHideDelay="1000"
              color="primary">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="log-time-content">
      <div class="progress-bar-container">
      <span class="mat-h2">Затрачено: </span>
        <div class="progress-bar">
          <div class="times-container">
            <h3>{{hours}}h:{{minutes}}m</h3>
          </div>
        </div>
      </div>
      <button mat-raised-button
              color="primary"
              (click)="dialogService.openLogTimeDialog(types,taskId)">
        Отметить время
      </button>
    </div>
  </div>
</ng-template>

<ng-template #mainContentTemplate>
  <h2>Описание</h2>
  <mat-divider></mat-divider>
  <p *ngIf="task.description?.content">{{task.description.content}}</p>
  <p>
    <mat-form-field appearance="fill" class="form-field-textarea">
      <mat-label>Описание задачи...</mat-label>
      <textarea matInput
                maxlength="250"
                class="mat-h2"
                [(ngModel)]="description.content"
                #inputTaskDescription>
          </textarea>
      <mat-hint align="end">{{inputTaskDescription.value?.length || 0}}/250</mat-hint>
    </mat-form-field>
  </p>
  <div class="description-buttons">
    <button mat-raised-button
            *ngIf="description?.content?.length>0"
            (click)="editTask(edit)">
      Отменить
    </button>
    <button mat-raised-button
            *ngIf="description?.content?.length>0"
            color="primary"
            (click)="saveChanges()">
      Сохранить
    </button>
  </div>
</ng-template>

<ng-template #taskDataTemplate>
  <span class="mat-h2">
    <span>Данные задачи  </span>
  <button mat-icon-button
          (click)="editTask(edit)"
          matTooltip="Редактировать"
          [matTooltipPosition]="'right'"
          matTooltipHideDelay="500"
          color="primary">
          <mat-icon>edit</mat-icon>
        </button>
  </span>
  <div>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Название задачи</mat-label>
        <input matInput placeholder="Введите название задачи"
               [readonly]="!edit"
               [(ngModel)]="task.taskName">
        <mat-icon matSuffix>article</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Код задачи</mat-label>
        <input matInput [value]="task.taskCode" [readonly]="'true'">
        <mat-icon matSuffix>info</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Исполнитель задачи</mat-label>
        <mat-select [(ngModel)]="task.taskExecutor"
                    [disabled]="!edit">
          <mat-option *ngFor="let executor of executors" [value]="executor.userId">
            {{executor.lastName}} {{executor.firstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Тип задачи</mat-label>
        <mat-select [(ngModel)]="task.type"
                    [disabled]="!edit"
                    [compareWith]="typeComparator">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type.typeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Приоритет задачи</mat-label>
        <mat-select [(ngModel)]="task.priority"
                    [disabled]="!edit"
                    [compareWith]="priorityComparator">
          <mat-option *ngFor="let priority of priorities" [value]="priority">
            {{priority.priorityName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Статус задачи</mat-label>
        <mat-select [(ngModel)]="task.status"
                    [disabled]="!edit"
                    [compareWith]="statusComparator">
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{status.statusName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Дата готовности</mat-label>
        <input matInput [matDatepicker]="datePicker"
               [readonly]="!edit"
               [value]="task.dueDate">
        <mat-datepicker-toggle matSuffix [disabled]="!edit" [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker [disabled]="!edit" touchUi></mat-datepicker>
      </mat-form-field>
    </p>
    <div class="buttons-container">
      <button mat-raised-button
              *ngIf="edit"
              (click)="editTask(edit)">
        Отменить
      </button>
      <button mat-raised-button
              *ngIf="edit"
              color="primary"
              (click)="saveChanges()">
        Сохранить изменения
      </button>
    </div>
    <p>
      <span class="mat-h2">Создатель задачи: </span>
      <a class="mat-h4"
         [routerLink]="['/people/', taskCreator?.userId?.toString()]">{{taskCreator?.lastName}} {{taskCreator?.firstName}}</a>
    </p>
    <p>
      <span class="mat-h2">Дата создания: </span>
      <span class="mat-h4">{{task.created | date:'medium':'UTC'}}</span>
    </p>
    <p>
      <span class="mat-h2">Обновлено: </span>
      <span class="mat-h4">{{task.updated | date:'medium':'UTC'}}</span>
    </p>
  </div>
</ng-template>

<ng-template #commentsTemplate>
  <div class="comments-container">
    <div class="comments-content" *ngIf="comments?.length>0">
    </div>
    <span class="mat-h2" *ngIf="comments?.length<=0">Нет комментариев</span>
  </div>
</ng-template>

<ng-template #historyTemplate>
  <div class="comments-container">
    <div class="comments-content"></div>
  </div>
</ng-template>


<ng-template #buttonsToolbarTemplate>
  <div class="buttons-toolbar">
    <button *ngIf="isTaskAwaiting()" mat-stroked-button color="primary">
      Отметить для разработки
    </button>
    <button *ngIf="isTaskAwaiting() || isTaskSelectForDevelopment()" mat-stroked-button color="primary">
      Начать разработку
    </button>
    <button *ngIf="isTaskAwaiting() || isTaskSelectForDevelopment()" mat-stroked-button color="accent">
      Закрыть задачу
    </button>
    <button *ngIf="isTaskInDevelopment()" mat-stroked-button color="primary">
      Готова для тестирования
    </button>
    <button *ngIf="isTaskInDevelopment() || isTaskInTesting()" mat-stroked-button color="primary">
      Готова
    </button>
    <button *ngIf="isTaskReadyForTest()" mat-stroked-button color="accent">
      Тестируется
    </button>
    <button *ngIf="isTaskReady()" mat-stroked-button color="accent">
      Закрыть задачу
    </button>
    <button *ngIf="isTaskClosed()" mat-stroked-button color="primary">
      Отметить для разработки
    </button>
  </div>
</ng-template>
