.container{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 4%;
  height: auto;
  margin-bottom: 5%;
}

.main-content-container{
  width: 65%;
  margin-right: 3%;
}
.task-data-container{
  width: 30%;
  padding: 2%;
  border: 1px groove rgba(0, 0, 0, 0.12);
}

.content {
  padding: 16px;
  width: 100%;
}

mat-form-field{
  width: 100%;
}

mat-divider{
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.comments-container{
}

.comments-content{
  overflow-y: scroll;
}

mat-tab-group{
  margin-top: 7%;
}

.log-time-container{
  margin-top: 7%;
}

.log-time-content{

}

.mat-select::ng-deep .mat-select-content {
  width: 100%;
}
.mat-select::ng-deep .mat-select-value {
  color: green;
}

.mat-select-disabled::ng-deep .mat-select-value {
  color: black;
}

