<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <mat-divider></mat-divider>
  <span>Мои проекты</span>
  <a mat-list-item
     *ngFor="let projectDto of projectDtos"
     [routerLink]="['project', projectDto.idProject.toString()]"
     (click)="onSidenavClose()">
    <mat-icon>work_outline</mat-icon>
    <span class="nav-caption">{{projectDto.projectName}}</span>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
