<mat-grid-list cols="5" rowHeight="1:10">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="container">
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Поиск</mat-label>
          <input matInput placeholder="Имя пользователя">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="projects-select">
        <mat-form-field appearance="fill">
          <mat-label>Проект для фитрации пользователей</mat-label>
          <mat-select (selectionChange)="changeProject($event)">
            <mat-option *ngFor="let project of projectDtos"
                        [value]="project.projectId">{{project.projectName}}</mat-option>
          </mat-select>
          <mat-hint align="end">Выберите проект для фитрации пользователей</mat-hint>
        </mat-form-field>
      </div>
      <p class="mat-h2">
        Пользователи
      </p>
      <div class="card-container">
        <ng-container *ngTemplateOutlet="newUserCard"></ng-container>
        <p *ngIf="userDtos.length>0" class="card-container">
          <ng-container *ngTemplateOutlet="userCards"></ng-container>
        </p>
        <p *ngIf="userDtos.length==0" class="card-container">
          На данном проекте нет сотрудников.
        </p>
      </div>
      <mat-divider></mat-divider>
      <p class="mat-h2">
        Команды
      </p>
      <p *ngIf="commandDtos.length>0" class="card-container">
        <ng-container *ngTemplateOutlet="commandCards"></ng-container>
      </p>
      <p *ngIf="commandDtos.length==0" class="card-container">
        Нет созданных команд.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

<ng-template #userCards>
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let user of userDtos;let i = index">
      <mat-card class="user-card">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': backgroundUrlClass[i]}" class="header-image"></div>
          <mat-card-title>{{user.lastName}} {{user.firstName}}</mat-card-title>
          <mat-card-subtitle>{{user.roleName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="toUserPage(user.userId)">Подробнее</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #newUserCard>
  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="new-user-header-image"></div>
      <mat-card-title>Новый пользователь</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="dialogService.openAddUserDialog()">Добавить пользователя
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #commandCards>
  <div *ngFor="let command of commandDtos;let i = index">
    <mat-card class="command-card">
      <mat-card-header>
        <mat-card-title>{{command.commandName}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary">Подробнее</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
