<p class="mat-h1">Регистрация пользователя</p>
<form [formGroup]="userFormGroup">
  <mat-vertical-stepper #stepper formArrayName="formArray">
    <mat-step [stepControl]="formArray?.get([0])"
              formGroupName="0"
              errorMessage="Имя пользователя обязательно.">
      <ng-template matStepLabel>Имя пользователя</ng-template>
      <mat-form-field>
        <mat-label>Имя пользователя</mat-label>
        <input matInput
               #inputUserName
               [(ngModel)]="registrationUser.userName"
               placeholder="Имя аккаунта пользователя"
               formControlName="username"
               maxlength="20"
               minlength="5"
               required>
        <mat-hint align="end">{{inputUserName.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="formArray?.get([1])"
              formGroupName="1"
              errorMessage="Имя и фамилия обязательны.">
      <ng-template matStepLabel>Полные имя и фамилию</ng-template>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput
               #inputFirstName
               [(ngModel)]="registrationUser.firstName"
               placeholder="Ваше имя"
               formControlName="firstName"
               maxlength="20"
               minlength="2"
               required>
        <mat-hint align="end">{{inputFirstName.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput
               placeholder="Ваша фамилия"
               #inputLastName
               [(ngModel)]="registrationUser.lastName"
               maxlength="20"
               minlength="2"
               formControlName="lastName"
               required>
        <mat-hint align="end">{{inputLastName.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="formArray?.get([2])"
              formGroupName="2"
              errorMessage="Email обязателен.">
      <ng-template matStepLabel>Адрес электронной почты</ng-template>
      <mat-form-field>
        <mat-label>Адрес электронной почты, на который пришло приглашение</mat-label>
        <input matInput
               placeholder="example@mail.com"
               formControlName="email"
               [(ngModel)]="registrationUser.email"
               #inputEmail
               maxlength="50"
               minlength="7"
               required>
        <mat-hint align="end">{{inputEmail.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="formArray?.get([3])"
              formGroupName="3"
              errorMessage="Пароль обязателен.">
      <ng-template matStepLabel>Пароль</ng-template>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput
               formControlName="password"
               [(ngModel)]="registrationUser.password"
               #inputPassword
               maxlength="50"
               minlength="7"
               required>
        <mat-hint align="end">{{inputPassword.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Должность</ng-template>
      <mat-form-field>
        <mat-label>Должность</mat-label>
        <input matInput
               placeholder="Your position"
               #inputUserPosition
               [(ngModel)]="registrationUser.position"
               [ngModelOptions]="{standalone: true}"
               maxlength="45"
               minlength="2">
        <mat-hint align="end">{{inputUserPosition.value?.length || 0}}/45</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Отдел</ng-template>
      <mat-form-field>
        <mat-label>Отдел</mat-label>
        <input matInput
               placeholder="Your department"
               #inputUserDepartment
               [(ngModel)]="registrationUser.department"
               [ngModelOptions]="{standalone: true}"
               maxlength="45"
               minlength="2">
        <mat-hint align="end">{{inputUserDepartment.value?.length || 0}}/45</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>Местоположение</ng-template>
      <mat-form-field>
        <mat-label>Отдел</mat-label>
        <input matInput
               #inputUserPlaceOfResidence
               [(ngModel)]="registrationUser.placeOfResidence"
               [ngModelOptions]="{standalone: true}"
               placeholder="Belarus, Minsk, st.Hikalo, 34-44"
               maxlength="45"
               minlength="2">
        <mat-hint align="end">{{inputUserPlaceOfResidence.value?.length || 0}}/45</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-stroked-button color="primary" matStepperNext>Дальше</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Готово</ng-template>
      <p *ngIf="userFormGroup.valid">Отлично!</p>
      <p *ngIf="!userFormGroup.valid">Вы не все заполнили!</p>
      <div class="buttons-container">
        <button mat-button (click)="stepper.reset()">Очистить все</button>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-raised-button
                [disabled]="!userFormGroup.valid"
                (click)="submitForm()" color="primary">Регистрация</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
