<app-header [header]="'Страница пользователя'"></app-header>
<div class="container">
  <div class="personal-data-container">
    <ng-container *ngTemplateOutlet="personalData"></ng-container>
    <mat-divider></mat-divider>
    <ng-container *ngTemplateOutlet="commandsData"></ng-container>
  </div>
  <div class="projects-data-container">
    <ng-container *ngTemplateOutlet="projectsData"></ng-container>
    <mat-divider></mat-divider>
    <ng-container *ngTemplateOutlet="taskCards"></ng-container>
  </div>
</div>

<ng-template #personalData>
  <div>
    <div class="mat-h2">
      <p class="information">
        <span>Сведения</span>
        <button mat-icon-button
                (click)="editUser(edit)"
                matTooltip="Редактировать"
                [matTooltipPosition]="'right'"
                matTooltipHideDelay="500"
                color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </p>
    </div>
    <form>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Имя аккаунта</mat-label>
          <input matInput
                 #inputUserName
                 [(ngModel)]="loadedUser.userName"
                 [readonly]="!edit"
                 maxlength="40"
                 name="userName"
                 placeholder="Введите имя пользователя">
          <mat-hint align="end">{{inputUserName.value?.length || 0}}/40</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Полное имя пользователя</mat-label>
          <input matInput
                 #inputFirstName
                 [(ngModel)]="loadedUser.firstName"
                 [readonly]="!edit"
                 maxlength="40"
                 name="firstName"
                 placeholder="Введите полное имя пользователя">
          <mat-hint align="end">{{inputFirstName.value?.length || 0}}/40</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Фамилия пользователя</mat-label>
          <input matInput
                 #inputLastName
                 [(ngModel)]="loadedUser.lastName"
                 [readonly]="!edit"
                 maxlength="40"
                 name="lastName"
                 placeholder="Введите фамилию пользователя">
          <mat-hint align="end">{{inputLastName.value?.length || 0}}/40</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Адрес электронной почты</mat-label>
          <input matInput
                 #inputLastName
                 [(ngModel)]="loadedUser.email"
                 [readonly]="!edit"
                 maxlength="40"
                 name="email"
                 placeholder="Введите email">
          <mat-hint align="end">{{inputLastName.value?.length || 0}}/45</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Должность</mat-label>
          <input matInput
                 #inputPosition
                 [(ngModel)]="loadedUser.position"
                 [readonly]="!edit"
                 maxlength="40"
                 name="position"
                 placeholder="Введите Вашу должность">
          <mat-hint align="end">{{inputPosition.value?.length || 0}}/40</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Название отдела</mat-label>
          <input matInput
                 #inputDepartment
                 [(ngModel)]="loadedUser.department"
                 [readonly]="!edit"
                 maxlength="40"
                 name="department"
                 placeholder="Введите название Вашего отдела">
          <mat-hint align="end">{{inputDepartment.value?.length || 0}}/40</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Местоположение</mat-label>
          <input matInput
                 #inputPlace
                 [(ngModel)]="loadedUser.placeOfResidence"
                 [readonly]="!edit"
                 maxlength="40"
                 name="placeOfResidence"
                 placeholder="Введите Ваше местоположение">
          <mat-hint align="end">{{inputPlace.value?.length || 0}}/40</mat-hint>
          <mat-error *ngIf="false"></mat-error>
        </mat-form-field>
      </p>
    </form>
    <div class="buttons-container">
      <button mat-raised-button
              *ngIf="edit"
              (click)="editUser(edit)">
        Отменить
      </button>
      <button mat-raised-button
              *ngIf="edit"
              color="primary"
              (click)="saveChanges()">
        Сохранить изменения
      </button>
    </div>
  </div>
</ng-template>

<ng-template #projectsData>
  <div>
    <p class="mat-h2">Проекты</p>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let project of loadedUser.projects"
                       [value]="project">
        <div class="project">
          <div class="project-name"><b>{{project.projectName}}</b></div>
          <button mat-raised-button color="primary"
                  class="user-projects-list"
                  matTooltip="Нажмите для перехода"
                  [matTooltipPosition]="'above'"
                  matTooltipHideDelay="1000"
                  (click)="toProject(project.projectId)">
            Перейти
          </button>
          <button mat-raised-button
                  class="user-projects-list"
                  (click)="removeProject(project)">
            Снять с проекта
          </button>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <div *ngIf="projects?.length>0" class="project-select">
      <mat-form-field appearance="fill">
        <mat-label>Проект</mat-label>
        <mat-select (selectionChange)="addProjectSelectChange($event)"
                    [(ngModel)]="addProject">
          <mat-option *ngFor="let project of projects"
                      [value]="project">{{project.projectName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary"
              class="user-projects-list"
              [disabled]="canAddProject"
              (click)="addProjectToUser(addProject)">
        Добавить
      </button>
    </div>
  </div>
</ng-template>

<ng-template #taskCards>
  <p class="mat-h2">Задачи</p>
  <button mat-icon-button
          (click)="dialogService.openCreateTaskDialog()"
          matTooltip="Создать задачу"
          [matTooltipPosition]="'below'"
          matTooltipHideDelay="1000"
          color="primary">
    <mat-icon>add_task</mat-icon>
  </button>
  <button mat-icon-button
          (click)="loadTasksByExecutor(userId)"
          matTooltip="Обновить задачи пользователя"
          [matTooltipPosition]="'above'"
          matTooltipHideDelay="1000"
          color="primary">
    <mat-icon>cached</mat-icon>
  </button>
  <div class="container">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let task of tasks; let i = index">
        <mat-card class="task-card">
          <mat-card-header>
            <mat-card-title>{{task.taskCode}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="getImageUrlByTaskType(task?.type)">
          <mat-card-content>
            <h4>
              <b>
                {{task.taskName}}
              </b>
            </h4>
            <p>
              Обновлено: {{task.updated | date}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button
                    color="primary"
                    (click)="toTask(task.taskId)">
              Подробнее
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <h3 *ngIf="tasks?.length<=0">Нет задач</h3>
</ng-template>


<ng-template #commandsData>
  <div>
    <div class="commands-inline">
    <span class="mat-h2">Команды</span>
    <span>
    <button mat-raised-button color="primary"
            matTooltip="Добавить пользователя в команду"
            [matTooltipPosition]="'above'"
            matTooltipHideDelay="1000"
            (click)="addToCommand()">
      Добавить в команду
      <mat-icon>group_add</mat-icon>
    </button>
    </span>
    </div>
    <mat-selection-list *ngIf="loadedUser.commands?.length>0" [multiple]="false">
      <mat-list-option *ngFor="let command of loadedUser.commands" [value]="command" (click)="true">
        {{command.commandName}}
      </mat-list-option>
    </mat-selection-list>
    <span *ngIf="!loadedUser.commands?.length>0">Нет добавленных команд</span>
  </div>
</ng-template>
