.container{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 4%;
  height: auto;
  margin-bottom: 5%;
}

.personal-data-container{
  width: 40%;
  margin-right: 3%;
}
.projects-data-container{
  width: 60%;
  padding: 2%;
  border: 1px groove rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
}

.content {
  padding: 16px;
  width: 100%;
}

mat-form-field{
  width: 100%;
}

mat-divider{
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
}

.user-projects-list{
  margin-right: 30px;
}

.project-name{
  width: 250px;
  display: inline-block;
}

.project{
  height: 40px;
}

.task-card {
  width: 160px;
  height: 450px;
}

.project-select{
  margin-top: 20px;
}

.commands-inline{
  display: flex;
  justify-content: space-between;
}
