<app-header [header]="project.projectName"></app-header>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>Данные о проекте</ng-template>
    <div>
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile
          [colspan]="1"
          [rowspan]="1">
          <span *ngIf="!project.tasksAmount">Нет задач</span>
          <!--          <mat-selection-list [multiple]="false">-->
          <!--            <mat-list-option *ngFor="let task of taskShortDtos | async" [value]="task.taskId">-->
          <!--              {{task.taskName}}-->
          <!--            </mat-list-option>-->
          <!--          </mat-selection-list>-->
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="2"
          [rowspan]="1">
          <mat-grid-tile-header>PROJECT</mat-grid-tile-header>
          <div style="margin-top: 25px">
            <form [formGroup]="projectFormGroup" (ngSubmit)="submitForm(project)" novalidate>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Название проекта</mat-label>
                  <input matInput
                         placeholder="Введите название"
                         formControlName="projectName"
                         #inputProjectName
                         [(ngModel)]="project.projectName">
                  <mat-hint align="end">{{inputProjectName.value?.length || 0}}/40</mat-hint>
                  <mat-error *ngIf="hasError('projectName', 'required')">Project's name is required</mat-error>
                  <mat-error *ngIf="hasError('projectName', 'minLength')">Project's name min length is 2 symbols
                  </mat-error>
                  <mat-error *ngIf="hasError('projectName', 'maxLength')">Project's name max length is 40 symbols
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Код проекта</mat-label>
                  <input matInput
                         placeholder="Введите ключ"
                         formControlName="projectCode"
                         [disabled]="true"
                         #inputProjectCode
                         [(ngModel)]="project.projectCode">
                  <mat-hint align="end">{{inputProjectCode.value?.length || 0}}/40</mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Руководитель проекта</mat-label>
                  <mat-select [(ngModel)]="project.lead"
                              formControlName="lead">
                    <mat-option *ngFor="let lead of leads"
                                [value]="lead.userId">
                      {{lead.lastName}} {{lead.firstName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="hasError('lead', 'required')">Project's lead is required</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Описание проекта</mat-label>
                  <textarea matInput
                            formControlName="descriptionContent"
                            [(ngModel)]="project.description.content"></textarea>
                </mat-form-field>
                <mat-error *ngIf="hasError('descriptionContent', 'maxLength')">Project's description max length is 250
                  symbols
                </mat-error>
              </p>
              <div class="project-buttons-container">
                <button mat-raised-button color="primary"
                        *ngIf="formChangeFlag"
                        [disabled]="!formChangeFlag"
                        (click)="submitForm(project)">Сохранить изменения
                </button>
                <button mat-raised-button color="warn" (click)="delete(project.projectId)">Удалить проект</button>
              </div>
            </form>
          </div>
          <mat-grid-tile-footer>Дата создания:
            {{project.creationDate | date }}
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Задачи проекта</ng-template>
    <app-tasks-table [projectId]="projectId"
                     [tasksAmount]="project.tasksAmount">
    </app-tasks-table>
  </mat-tab>
  <mat-tab *ngIf="projectId">
    <ng-template mat-tab-label>Участники проекта</ng-template>
    <app-members-table [projectId]="projectId"
                       [membersAmount]="project.membersAmount">
    </app-members-table>
  </mat-tab>
</mat-tab-group>


